{% extends './layouts/layout.njk' %}
{% from "./macros/organisation-header.njk" import organisationHeader %}
{% set mainClasses = "govuk-!-padding-top-2" %}

{% block pageTitle %}Manage your claims - {{ serviceName }} - GOV.UK{% endblock %}

{% set spanText = "(column headers with buttons are sortable by ascending or descending order)." %}

{% block content %}
{{ organisationHeader({
  name: name,
  sbi: sbi,
  farmerName: farmerName,
  attachedToMultipleBusinesses: attachedToMultipleBusinesses,
  hostname: hostname
}) }}

<div class="govuk-grid-row govuk-width-container">
  <div class="govuk-grid-column-two-thirds govuk-!-static-padding-0">
    <p class="govuk-body govuk-!-static-margin-bottom-1">
      <span class="govuk-!-font-weight-bold">Agreement number:</span> <span class="govuk-body">{{ reference }}</span></br>
      <span class="govuk-!-font-weight-bold">Species included in this agreement: </span><span class="govuk-body">
        poultry
      </span>
    </p>
  </div>
  <div class="govuk-grid-column-one-third govuk-!-static-padding-0">
    <p class="govuk-!-text-align-right govuk-!-static-margin-bottom-1">
      <a class="govuk-link" rel="external noopener noreferrer govuk-!-text-align-right" target={{ downloadedDocument |
        default('_self') }} href={{ downloadedDocument | default('#') }}>
        Download agreement summary
      </a>
      <br/>
      <a class="govuk-link" id="selectFundingLink" href="/select-funding">
        Claim for a different agreement
      </a>
    </p>
  </div>

</div>
<hr />
<div class="govuk-grid-row govuk-width-container govuk-!-static-margin-top-6">
  <h1 class="govuk-heading-xl govuk-!-static-margin-bottom-4">Manage your claims</h1>

  <div class="govuk-grid-column-full govuk-!-padding-0">
    <p>
      Start a new claim or view and manage your current claims.
      We recommend you claim in order of the visits.
    <p>

      {{ govukButton({
      text: 'Start a new claim',
      href: claimJourneyStartPointUri,
      preventDoubleClick: true,
      attributes: {
      id: "start"
      }
      }) }}
  </div>

  <hr class="govuk-section-break govuk-section-break--m">

  <div class="govuk-grid-column-full govuk-!-padding-0">

    {% if rows | length %}
    <div>
      {{ govukTable({
      attributes: {
      'data-module': 'moj-sortable-table'
      },
      firstCellIsHeader: false,
      head: headers,
      rows: rows,
      classes: 'fixed-layout-table'
      }) }}
    </div>
    {% endif %}

  {% if not rows %}
    <h2 class="govuk-heading-m govuk-!-static-margin-top-2">Your claims</h2>
    <p class="govuk-caption-m">Your claims will appear here once you have submitted them.</p>
  {% endif %}

  </div>
  <div class="govuk-grid-column-full govuk-!-padding-0">
    <hr class="govuk-section-break govuk-section-break--m">
    <h2 class="govuk-heading-m govuk-!-static-margin-top-4">More information</h2>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link" rel="external"
          href="https://www.gov.uk/government/collections/funding-to-improve-animal-health-and-welfare-guidance-for-farmers-and-vets">Guidance
          for poultry biosecurity reviews</a>
      </li>
      <li>
        <a class="govuk-link" rel="external" href={{ latestTermsAndConditionsUri }}>Terms and conditions</a>
      </li>
    </ul>
  </div>
</div>
{% endblock %}