MESSAGE_QUEUE_HOST="devffcinfsb1001.servicebus.windows.net"

MESSAGE_QUEUE_USER="RootManageSharedAccessKey"
FCP_AHWR_EVENT_QUEUE_SA_KEY="your-service-bus-access-key-here"
EVENT_QUEUE_ADDRESS="ffc-ahwr-event-jgg"

AWS_REGION="eu-west-2"
AWS_DEFAULT_REGION="eu-west-2"
AWS_ACCESS_KEY_ID="test"
AWS_SECRET_ACCESS_KEY="test"

DEFRA_ID_TENANT="dcidmtest"
DEFRA_ID_POLICY="b2c_1a_cui_cpdev_signupsigninsfi"
DEFRA_ID_CLIENT_ID="your-client-id-here"
DEFRA_ID_JWT_ISSUER_ID="your-jwt-issuer-id-here"
DEFRA_ID_REDIRECT_URI="http://localhost:3003/signin-oidc"
DEFRA_ID_CLIENT_SECRET="your-defra-id-client-secret-here"

APIM_CLIENT_ID="your-apim-client-id-here"
APIM_CLIENT_SECRET="your-apim-client-secret-here"
APIM_OCP_SUBSCRIPTION_KEY="your-apim-subscription-key-here"

APPLICATION_API_URI="http://ahwr-application-backend:3001/api"

WRECK_HTTP_TIMEOUT_MILLISECONDS=30000

# TERMS_AND_CONDITIONS_URL="http://localhost:3003/dashboard/terms/v3"
RPA_HOST_NAME="https://dev-internal-gateway.trade.azure.defra.cloud"
RPA_GET_ORGANISATION_PERMISSIONS_URL="/rural-payments-vet-visits/v1/SitiAgriApi/authorisation/organisation/organisationId/authorisation"
RPA_GET_PERSON_SUMMARY_URL="/rural-payments-vet-visits/v1/person/3337243/summary"
RPA_GET_ORGANISATION_URL="/rural-payments-vet-visits/v1/organisation/organisationId"
RPA_GET_CPH_NUMBERS_URL="/rural-payments-vet-visits/v1/SitiAgriApi/cph/organisation/organisationId/cph-numbers"

USE_PRETTY_PRINT="true"

BACKEND_API_KEY="your-backend-api-key-here"

POULTRY_ENABLED="true"
