{% from "govuk/components/tag/macro.njk" import govukTag %}

{% set withdrawn = {
  text: 'Withdrawn',
  classes: 'govuk-tag--grey'
} %}
{% set submitted = {
  text: 'Submitted',
  classes: 'govuk-tag--turquoise'
} %}
{% set approved = {
  text: 'Approved'
} %}
{% set paid = {
  text: 'Paid'
} %}
{% set rejected = {
  text: 'Rejected',
  classes: 'govuk-tag--red'
} %}

{% set tags = {
  'WITHDRAWN': withdrawn,
  'IN_CHECK': submitted,
  'PAID': paid,
  'READY_TO_PAY': approved,
  'REJECTED': rejected,
  'ON_HOLD': submitted,
  'RECOMMENDED_TO_PAY': submitted,
  'RECOMMENDED_TO_REJECT': submitted,
  'SENT_TO_FINANCE': approved,
  'PAYMENT_HELD': approved
} %}

{{-
  govukTag(tags[status])
-}}
