{% extends './layouts/layout.njk' %}

{% block pageTitle %}Timing of poultry biosecurity reviews - {{ serviceName }} - GOV.UK{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: backLink,
	  attributes: {id: "back"}
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Timing of poultry biosecurity reviews</h1>
    <p>Claim your poultry biosecurity reviews as part of Get funding to improve animal health and welfare.</p>

    <hr class="govuk-section-break govuk-section-break--s" />

    {{ govukWarningText({
      text: "You need to accept this agreement before you arrange a biosecurity assessment with your vet. You need to follow these timing rules to be eligible for a claim.",
      iconFallbackText: "Warning"
    }) }}

    <hr class="govuk-section-break govuk-section-break--s" />

    <h2 class="govuk-heading-m">Poultry biosecurity reviews</h2>
    <p>To be eligible to claim for a poultry biosecurity review you must:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>have an poultry biosecurity review agreement in place before you do your first biosecurity review</li>
      <li>have no more than 3 biosecurity assessment on any number of units by 31 Match 2029</li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--m" />

    <form method="POST" autocomplete="off" novalidate="novalidate" id ="submitDeclarationForm">
      <input type="hidden" name="crumb" value="{{crumb}}"/>
      <div class="govuk-button-group">
        {{ govukButton({
          text: "I agree",
          attributes: { "aria-label": "I agree - Timing of review" },
          value: "agree",
          name: "agreementStatus",
          preventDoubleClick: true
        }) }}
        {{ govukButton({
          text: "I do not agree",
          attributes: { "aria-label": "I do not agree - Timing of review" },
          classes: "govuk-button--secondary",
          value: "rejected",
          name: "agreementStatus",
          preventDoubleClick: true
        }) }}
      </div>
    </form>
  </div>
</div>
{% endblock %}
