{% extends './layouts/layout.njk' %}

{% block pageTitle %}{% if errorMessage %}Error: {% endif %}Which recommendation did the vet say should be your top priority? - {{ serviceName }} - GOV.UK{% endblock %}

{% block containerStart %}
  {{ 
    govukBackLink({
      text: "Back",
      href: backLink
    })
  }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-row govuk-width-container govuk-!-static-margin-top-0">
      <div class="govuk-grid-column-two-thirds">
        {% if errorMessage %}
          {{ govukErrorSummary({
              titleText: "There is a problem",
              errorList:[{
                text: errorMessage.text,
                href: errorMessage.href
              }]
            }) 
          }}
        {% endif %}
        <div class="govuk-grid-row">
          <form method="POST" autocomplete="off" novalidate="novalidate">
            <input type="hidden" name="crumb" value="{{crumb}}"/>
            {{ 
              govukRadios({
                id: "changesInBiosecurity",
                name: "changesInBiosecurity",
                fieldset:{
                  legend:{
                    text: "Which recommendation did the vet say should be your top priority?",
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                  }
                }, 
                hint: {
                  text: "You can find this on the summary the vet gave you. This information does not affect your claim."
                }, 
                errorMessage: radioErrorMessage,
                items: [
                  {
                    value:"infra-and-control",
                    text: "Housing, buildings, infrastructure and wild bird control",
                    checked: previousAnswer == "infra-and-control"
                  },
                  {
                    value:"people-and-hygiene",
                    text: "People, visitors and hygiene procedures",
                    checked: previousAnswer == "people-and-hygiene"
                  },
                  {
                    value:"movement-and-management",
                    text: "Bird movements and flock management",
                    checked: previousAnswer == "movement-and-management"
                  },
                  {
                    value:"bird-handling",
                    text: "Feed, water, bedding, eggs and waste handling",
                    checked: previousAnswer == "bird-handling"
                  },
                  {
                    value:"cleaning",
                    text: "Cleaning, disinfection and disease control",
                    checked: previousAnswer == "cleaning"
                  },
                  {
                    divider: "or"
                  },
                  {
                    value:"no-recommendation",
                    text: "The vet did not make any recommendations",
                    checked: previousAnswer == "no-recommendation"
                  }
                ]
              })
            }}
            {{ govukButton({
                  text: "Continue",
                  attributes: {id: "btnContinue"},
                  preventDoubleClick: true
                })
            }}
          </form>
        </div>
      </div>
    {% endblock %}