{% extends './layouts/layout.njk' %}

{% block pageTitle %}{% if errorSummary.length %}Error: {% endif %}Date of review - {{ serviceName }} - GOV.UK{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: backLink,
    attributes: {
      id: "back"
    }
  }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if errorSummary.length %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errorSummary
        }) }}
      {% endif %}
      <form method="POST">
        <input type="hidden" name="crumb" value="{{crumb}}"/>

        <div id="when-was-the-vet-review" class="govuk-form-group {% if dateOfReview.errorMessage %}govuk-form-group--error{% endif %}">
          <fieldset class="govuk-fieldset" aria-describedby="date-of-review-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">Date of review</h1>
            </legend>
            <p id="date-of-review-hint" class="govuk-hint">This is the date the vet last visited the site for this review.You can find it on the summary the vet gave you.</p>
                {% if inputsInError.day %}
                    {% set dateOfReviewDay = {
                        name: 'day',
                        value: dateOfReview.day,
                        classes: 'govuk-input--width-2 govuk-input--error'
                    } %}
                {% else %}
                    {% set dateOfReviewDay = {
                        name: 'day',
                        value: dateOfReview.day,
                        classes: 'govuk-input--width-2'
                    } %}
                {% endif %}

                {% if inputsInError.month %}
                    {% set dateOfReviewMonth = {
                        name: 'month',
                        value: dateOfReview.month,
                        classes: 'govuk-input--width-2 govuk-input--error'
                    } %}
                {% else %}
                    {% set dateOfReviewMonth = {
                        name: 'month',
                        value: dateOfReview.month,
                        classes: 'govuk-input--width-2'
                    } %}
                {% endif %}

                {% if inputsInError.year %}
                    {% set dateOfReviewYear = {
                        name: 'year',
                        value: dateOfReview.year,
                        classes: 'govuk-input--width-4 govuk-input--error'
                    } %}
                {% else %}
                {% set dateOfReviewYear = {
                    name: 'year',
                    value: dateOfReview.year,
                    classes: 'govuk-input--width-4'
                } %}
                {% endif %}
            {{ govukDateInput({
            id: "review-date",
            namePrefix: "review-date",
            hint: {
              html: "For example, 27 3 2022",
              id: "date-of-review-hint"
            },
            errorMessage: dateOfReview.errorMessage,
            items: [dateOfReviewDay, dateOfReviewMonth, dateOfReviewYear]
          }) }}
          </fieldset>
        </div>
        {{ govukButton({
          text: "Continue",
          attributes: {
            id: "continue"
          },
          preventDoubleClick: true
        }) }}

      </form>
    </div>
  </div>
{% endblock %}