{% extends './layouts/layout.njk' %}

{% block pageTitle %}{% if errorMessage %}Error: {% endif %}Enter the CPH number for this site - {{ serviceName }} - GOV.UK{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: backLink,
    attributes: {
      id: "back"
    }
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if errorMessage %}
        {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: [errorMessage]
        }) }}
      {% endif %}

      <h1 class="govuk-heading-l govuk-!-margin-bottom-2">Enter the County Parish Holding (CPH) number for this site</h1>
      <p class="govuk-hint govuk-!-margin-bottom-2">Tell us the CPH for this site. You cannot use the same CPH for two sites.</p>

      <form method="POST" autocomplete="off" novalidate="novalidate">
        <input type="hidden" name="crumb" value="{{crumb}}"/>
        {{ govukInput({
            hint: {
                text: "CPH format should be nn/nnn/nnnn"
            },
            classes: "govuk-input",
            id: "herdCph",
            name: "herdCph",
            value: herdCph,
            errorMessage: errorMessage
            }) 
        }}
        {{ govukButton({
            text: "Continue",
            attributes: { id: "btnContinue" },
            preventDoubleClick: true
          }) 
        }}
      </form>
    </div>
  </div>
{% endblock %}