{% extends './layouts/layout.njk' %}

{% block pageTitle %}You cannot continue with your claim - {{ serviceName }} - GOV.UK{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">You cannot continue with your claim</h1>
      <p class="govuk-body">The site does not meet the minimum number of birds required.</p>
      <h2 class="govuk-heading-m">What to do next</h2>
      <p class="govuk-body">To be eligible for funding, the site must have the minimum number of birds:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>1,000 broilers</li>
        <li>1,000 laying hens</li>
        <li>1,000 breeders</li>
        <li>500 ducks</li>
        <li>500 geese</li>
        <li>500 turkeys</li>
      </ul>
      <p class="govuk-body">If your site meets the minimum number of birds, go back and change your answer.</p>
      <p class="govuk-body">
        <a class="govuk-link" href="/poultry/minimum-number-of-birds">Go back to change your answer</a>
      </p>
      {% include './chunks/get-help-with-claim.njk' %}
    </div>
  </div>
{% endblock %}
