{% extends './layouts/layout.njk' %}

{% block pageTitle %}{% if errorMessage %}Error: {% endif %}Enter the site name - {{ serviceName }} - GOV.UK{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: backLink,
    attributes: {
      id: "back"
    }
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if errorMessage %}
        {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: [errorMessage]
          }) }}
      {% endif %}
      <form method="POST" autocomplete="off" novalidate="novalidate">
        <input type="hidden" name="crumb" value="{{crumb}}"/>

        {% set chickenSubTypes %}
          {{ govukCheckboxes({
            name: "typesOfPoultry",
            classes: "govuk-checkboxes--small",
            items: [
              {
                value: "broilers",
                text: "Broilers",
                checked: typesOfPoultry and "broilers" in typesOfPoultry
              },
              {
                value: "laying-hens",
                text: "Laying hens",
                checked: typesOfPoultry and "laying-hens" in typesOfPoultry
              },
              {
                value: "breeders",
                text: "Breeders",
                checked: typesOfPoultry and "breeders" in typesOfPoultry
              }
            ]
          }) }}
        {% endset %}

        {{ govukCheckboxes({
          name: "typesOfPoultry",
          errorMessage: errorMessage,
          fieldset: {
          legend: {
            text: "Which type of poultry do you keep on this site?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "Select all that apply"
          },
          items: [
            {
              value: "chickens",
              text: "Chickens",
              checked: typesOfPoultry and ("broilers" in typesOfPoultry or "laying-hens" in typesOfPoultry or "breeders" in typesOfPoultry),
              conditional: {
                html: chickenSubTypes
              }
             },
             {
               value: "ducks",
               text: "Ducks",
               checked: typesOfPoultry and "ducks" in typesOfPoultry
             },
             {
               value: "geese",
               text: "Geese",
               checked: typesOfPoultry and "geese" in typesOfPoultry
             },
             {
               value: "turkeys",
               text: "Turkeys",
               checked: typesOfPoultry and "turkeys" in typesOfPoultry
             }
            ]
          }) }}
          {{ govukButton({
            text: "Continue",
            attributes: { id: "btnContinue" },
            preventDoubleClick: true
        }) 
      }}
      </form>
      {{ govukDetails({
        summaryText: "I don't have the site details from the vet",
        text: ("Your vet should have completed the  ‘Tell us about this site’ section on the vet template. You can ask them to <a class='govuk-link' href='https://www.gov.uk/guidance/vet-summary-templates-for-all-species'>download the form</a> and fill the details in for you.") | safe
      }) }}
    </div>
  </div>
{% endblock %}