{% extends './layouts/layout.njk' %}

{% block pageTitle %}{% if errorMessage %}Error: {% endif %}{{pageTitleText}} - {{serviceName}} - GOV.UK{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: backLink,
    attributes: {
      id: "back"
    }
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if errorMessage %}
        {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: [errorMessage]
          }) }}
      {% endif %}

      <form method="POST" autocomplete="off" novalidate="novalidate">
        <input type="hidden" name="crumb" value="{{crumb}}"/>

        {% if sites.length == 1 %}
          <h1 class="govuk-heading-l govuk-!-margin-bottom-2">{{ pageTitleText }}</h1>
          <p class="govuk-hint govuk-!-margin-bottom-7">You can now have reviews and follow-ups on more than one site.</p>
          <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-2">Your last claim for this species:</p>
          {{ 
            govukSummaryList({
              rows: [
                {
                  key: {
                    text: "Species"
                  },
                  value: {
                    text: species 
                  }
                },
                {
                  key: {
                    text: "Site name"
                  },
                  value: {
                    text: name
                  }
                },
                {
                  key: {
                    text: "CPH number for site"
                  },
                  value: {
                    text: cphNumber
                  }
                },
                {
                  key: {
                    text: "Last visit date"
                  },
                  value: {
                    text: lastVisitDate
                  }
                },
                {
                  key: {
                    text: "Claim date"
                  },
                  value: {
                    text: claimDate
                  }
                }
              ]
            }) 
          }}
          {{ 
            govukRadios({
              id: "siteSelected",
              name: "siteSelected",
              errorMessage: errorMessage,
              items: [
                {
                  value: siteId,
                  text: "Yes, it's the same",
                  checked: siteSelected == siteId
                },
                {
                  value: radioValueNewSite,
                  text: "No, it's a different site",
                  checked: siteSelected == radioValueNewSite
                }
              ]
            })
          }}
        {% else %}
          {% set siteItems = [] %}
          {% for item in sites %}
            {% set siteItems = siteItems.concat([{ value: item.id, text: item.name, hint: {test: "CPH: " ~ item.cph}, checked: siteSelected == item.id }]) %}
          {% endfor %}
          {% set siteItems = siteItems.concat([{ divider: "or" }]) %}
          {% set siteItems = setItems.concat([{ value: radioValueNewSite, text: "I am claiming for a different site", checked: siteSelected === radioValueNewSite }]) %}
          {{ 
            govukRadios({
              id: "siteSelected",
              name: "siteSelected",
              fieldset: {
                legend: {
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--l",
                  text: pageTitleText
                }
              }, 
              hint: {
                text: "You can also choose to claim for a different site"
              }, 
              errorMessage: errorMessage,
              items: siteItems
            })
          }}
        {% endif %}

        {{ govukButton({
          text: "Continue",
          attributes: { id: "btnContinue" },
          preventDoubleClick: true
        }) 
      }}
      </form>
    </div>
  </div>
{% endblock %}