name: Publish

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: write
  pull-requests: write

env:
  AWS_REGION: eu-west-2
  AWS_ACCOUNT_ID: "094954420758"

jobs:
  build:
    if: github.run_number != 1
    name: CDP-build-workflow
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Test code and Create Test Coverage Reports
        uses: actions/setup-node@v4
        with:
          node-version-file: .nvmrc
          cache: npm
      - run: |
          ./scripts/test

      - name: Build and Publish
        uses: DEFRA/cdp-build-action/build@main
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Notify Test Repo
        if: success()
        run: |
          curl -X POST \
            -H "Authorization: token ${{ secrets.UI_TESTS_PAT }}" \
            -H "Accept: application/vnd.github+json" \
            https://api.github.com/repos/DEFRA/ahwr-ui-tests/dispatches \
            -d '{"event_type": "run-tests", "client_payload": {"repo": "ahwr-public-user-ui"}}'

      - name: SonarCloud Scan
        uses: SonarSource/sonarqube-scan-action@v5.3.1
        continue-on-error: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
